.mybtn1 {
  border-radius: 20px;
  width: 80px;
  background-color:$black;
  color: $white
}

.row.expand-on-hover>.col-md-3 {
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  height: 120px;
}

.row.expand-on-hover:hover>.col-md-3 {
  height: auto;
}
.card img-fluid{
  width:500px;
}
.card-img-overlay-content{
  position:absolute; 
  bottom:0;
  color:$white
}
.c1{
  line-height:2;
  margin-bottom:2em
}
.card-img-top{
  width: 100%;
}
.text1{
  text-decoration-style: solid;
}
